<ion-view hide-nav-bar="true">
        <ion-slide-box show-pager="false" on-slide-changed="nextSlide()">
            <ion-slide ng-repeat="page in pages" active="true" scrollbar-y="false" id="{{page.class}}">
                    <ion-content>
                        
                        <!--<div class="cover" ng-if="page.type == 'cover'">
                            <div class="cover-issue">
                                <p>Issue {{page.issue}}</p>
                            </div>
                            <div class="cover-title">
                                <p>{{page.title}}</p>
                            </div>
                            <div class="cover-preview">
                                <h2 class="preview" ng-bind-html="page.preview">{{page.preview}}</h2>
                            </div>
                        </div>-->
                        
                        <div class="article" ng-if="page.type == 'article'" ng-controller="MagArticleCtrl" ng-model="articles" ng-init="num = page.index">
                            <div class="key">
                                <p>{{articles[num].index}}</p>
                                <p>{{articles[num].artist}}</p>
                            </div>
                            <div class="article-content">
                                <h1 class="heading">{{articles[num].title}}</h1>
                                <h2 class="heading">{{articles[num].intro}}</h2>
                                <p ng-bind-html="articles[num].text">{{articles[num].text}}</p>
                                <div class="article-video">
                                    <iframe  ng-src="{{videos[num]}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        
                    </ion-content>
            </ion-slide>
        </ion-slide-box>
</ion-view>

<!--

<div class="item item-input-inset">
    <button ng-click="openModal()" class="button button-small"> Open </button>
    <button class="button button-small"> Cancel </button>
</div>

<script id="modal.html" type="text/ng-template">
    <ion-modal-view ng-controller="ModalCtrl">
        <ion-header-bar>
            <h1 class="title">New Contact</h1>
            <button class="button button-positive" ng-click="hideModal()">Close</button>
        </ion-header-bar>
        <ion-content>
            <div class="padding">
                <div class="list">
                    <label class="item item-input"> <span class="input-label">First Name</span>
                        <input type="text" placeholder=""> </label>
                    <label class="item item-input"> <span class="input-label">Last Name</span>
                        <input type="text" placeholder=""> </label>
                    <label class="item item-input"> <span class="input-label">Email</span>
                        <input type="text" placeholder=""> </label>
                    <button class="button button-block button-positive" ng-click="hideModal()">Hide Modal</button>
                    <button class="button button-block button-positive" ng-click="removeModal()">Remove Modal</button>
                    <button class="button button-block button-positive" ng-click="openActionSheet()">ActionSheet</button>
                    <button class="button button-block button-positive" ng-click="openPopup()">Popup</button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>

-->

