#cover{
    background-image: url('../img/pages/backdrop/cover_1401.png');
    background-size: cover;
}
#page2{
    background-image: url('../img/pages/backdrop/backdrop_1.png');
    background-size: cover;
}
#page3{
    background-image: url('../img/pages/backdrop/backdrop_2.png');
    background-size: cover;
}
#page4{
    background-image: url('../img/pages/backdrop/backdrop_3.png');
    background-size: cover;
}
#page5{
    background-image: url('../img/pages/backdrop/backdrop_4.png');
    background-size: cover;
}
#page6{
    background-image: url('../img/pages/backdrop/backdrop_5.png');
    background-size: cover;
}
#ad1{
    background-image: url('../img/ads/ad.1.png');
    background-size: cover;
}
#ad2{
    background-image: url('../img/ads/ad.2.png');
    background-size: cover;
}
#ad3{
    background-image: url('../img/ads/ad.3.png');
    background-size: cover;
}
#ad4{
    background-image: url('../img/ads/ad.4.png');
    background-size: cover;
}
#ad5{
    background-image: url('../img/ads/ad.5.png');
    background-size: cover;
}
.slider{
    height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
    font-family: roboto, helvetica neue, arial, sans-serif;
    line-height: 1.2;
}
.cover-issue{
    top: 0;
    left: 0;
    width: auto;
    position: absolute;
    /*height: auto;*/
    /* margin: 20px; */
    /* background-color: rgba(74, 81, 102, 0.9); */
    /* color: #4a5166; */
}
.cover-issue p:nth-child(1){
    color: #a2e2e8;
    /*height: 100px;*/
    font-style: italic;
    font-size: 2.5em;
    margin: 10px; 
}
.cover-title{
    /*top: 0;
    left: 0;*/
    width: 100%;
    /*position: absolute;*/
    /*background-color: rgba(74, 81, 102, 0.9);*/
    color: #530f53;
}
.cover{
    padding-top: 800px;   
}

.cover-title p:nth-child(1){
    color: #339fc4;
    font-size: 3em;
    margin: 10px;
}
.article {
    padding-top: 930px;
    
}
.article-content {
    /*background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 1%, rgb(255, 255, 255) 20%);*/
    background: rgba(42, 42, 41, 0.9);
    color: #fff;
}
.article-content h1 {
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-weight: 300;
    height: 74px;
    font-size: 70px;
    color: #ffb40d;
    
}
.article-content h2 {
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    height: auto;
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    background-color: #339fc4;
    
}
.article p{
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 20px 20px auto;
    line-height: 1.5;
    color: #fff;
}
.article img{
    width: auto;
    margin: 20px -20px;
}
.key{
    top: 0;
    left: 0;
    width: auto;
    position: absolute;
    background-color: rgba(42, 42, 41, 0.9);
    color: #fff;
}
.key p:nth-child(1){
    color: #fff;
    font-size: 3em;
    margin: 10px;
}
.key p:nth-child(2){
    color: #ffb40d;
    font-size: 2.5em;
    margin: 10px;
}

/*Video Container*/

div.article-video {
    padding-top: 40px;
}