#cover{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/cover_1401.png');
    background-size: cover;
}
#page2{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_1.png');
    background-size: cover;
}
#page3{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_2.png');
    background-size: cover;
}
#page4{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_3.png');
    background-size: cover;
}
#page5{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_4.png');
    background-size: cover;
}
#page6{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_5.png');
    background-size: cover;
}
#ad1{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.1.png');
    background-size: cover;
}
#ad2{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.2.png');
    background-size: cover;
}
#ad3{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.3.png');
    background-size: cover;
}
#ad4{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.4.png');
    background-size: cover;
}
#ad5{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.5.png');
    background-size: cover;
}
.slider{
    height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
    font-family: roboto, helvetica neue, arial, sans-serif;
    line-height: 1.2;
}
.cover-issue{
    top: 0;
    left: 0;
    width: auto;
    position: absolute;
    /*height: auto;*/
    /* margin: 20px; */
    /* background-color: rgba(74, 81, 102, 0.9); */
    /* color: #4a5166; */
}
.cover-issue p:nth-child(1){
    color: #a2e2e8;
    /*height: 100px;*/
    font-style: italic;
    font-size: 2.5em;
    margin: 10px; 
}
.cover-title{
    /*top: 0;
    left: 0;*/
    width: 100%;
    /*position: absolute;*/
    /*background-color: rgba(74, 81, 102, 0.9);*/
    color: #530f53;
}
.cover{
    padding-top: 800px;   
}

.cover-title p:nth-child(1){
    color: #339fc4;
    font-size: 3em;
    margin: 10px;
}
.article {
    padding-top: 930px;
}
.article-content {
    /*background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 1%, rgb(255, 255, 255) 20%);*/
    background: rgba(42, 42, 41, 0.9);
    color: #fff;
}
.article-content h1 {
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-weight: 300;
    height: 74px;
    font-size: 70px;
    color: #ffb40d;
    
}
.article-content h2 {
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    height: auto;
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    background-color: #339fc4;
    
}
.article p{
    font-family: roboto, helvetica neue, arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 20px 20px auto;
    line-height: 1.5;
    color: #fff;
}
.article img{
    width: auto;
    margin: 20px -20px;
}
.key{
    top: 0;
    left: 0;
    width: auto;
    position: absolute;
    background-color: rgba(42, 42, 41, 0.9);
    color: #fff;
}
.key p:nth-child(1){
    color: #fff;
    font-size: 3em;
    margin: 10px;
}
.key p:nth-child(2){
    color: #ffb40d;
    font-size: 2.5em;
    margin: 10px;
}

/*Video Container*/

div.article-video {
    padding-top: 40px;
}
div.article-video iframe{
    width: 768px;
    height: 432px;
}


/* --- When display width is 400px or less, for iPhone 5 --- */

@media only screen and (max-width: 400px){
    
    .article {
        padding-top: 520px;
    }
    
    .key p:nth-child(1){
        font-size: 1em;
    }
    .key p:nth-child(2){
        font-size: 1em;
    }
        
    .article-content h1 {
        font-weight: 300;
        height: 30px;
        font-size: 30px;
    }
    .article-content h2 {
        height: auto;
        font-size: 20px;
        
    }
    .article p{
        font-size: 1.2em;
        margin: 20px 10px auto;
    }
/* --- Image control --- */
    #cover{
    background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/cover_1401.small.png');
    }
    #page2{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_1.small.png');
    }
    #page3{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_2.small.png');
    }
    #page4{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_3.small.png');
    }
    #page5{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_4.small.png');
    }
    #page6{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/backdrop_5.small.png');
    }
    #ad1{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.1.small.png');
    }
    #ad2{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.2.small.png');
    }
    #ad3{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.3.small.png');
    }
    #ad4{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.4.small.png');
    }
    #ad5{
        background-image: url('https://googledrive.com/host/0B0778NZ3pAKKcm9yUk5vaEdTaWc/ad.5.small.png');
    }
    .article img{
        width: 340px;
        margin: 20px -20px;
    }
/*--- Video Control ---*/

    /*.player .video-wrapper .video{
        width: 320px;   
    }*/
        
    div.article-video iframe{
        width: 320px;
        height: 180px;
    }
    
}